*.pyc
Co-Working-Space-master/co_working/env/Lib/site-packages/
Co-Working-Space-master/co_working/env/Lib/site-packages/*
Co-Working-Space-master/env/
Co-Working-Space-master/env/*
Co-Working-Space-master/co_working/co_working/__pycache__/
Co-Working-Space-master/co_working/co_working/__pycache__/*
Co-Working-Space-master/co_working/management/__pycache__/
Co-Working-Space-master/co_working/management/__pycache__/*
Co-Working-Space-master/.vscode/
Co-Working-Space-master/.vscode/*
Co-Working-Space-master/co_working/management/migrations/__pycache__/
Co-Working-Space-master/co_working/management/migrations/__pycache__/*
Co-Working-Space-master/
Co-Working-Space-master/co_working/
Co-Working-Space-master/co_working/env/
Co-Working-Space-master/co_working/env/*

